:root {
    --primary-color: #003476;
    --color-letra: #111111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "DM sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 

/* ------------------------------------------HEADER------------------------------ */
.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    min-width: 80px;
    max-width: 100px;
    padding: 10px 15px;
}

.header-nav {
    margin-right: 15px;
    color: var(--color-letra);
}

.header-nav__list {
    display: flex;
}

.header-nav__ul {
    margin-left: 15px;
    font-size: 1.6rem;
}

.header-nav__ul a {
    text-decoration: none;
    color: var(--color-letra);
}

/* ----------------------------------MAIN---------------------------------- */

.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.encriptador, .encriptado {
    width: 100%;
    min-width: 375px;
    padding: 15px;
    display: flex;
    flex-direction: column;
} 

.textarea, .mensaje {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border: none;
    font-size: 2rem;
    font-family: "DM sans", sans-serif;
    color: var(--primary-color);
    box-shadow: 0 0 7px 0 #0007;
    resize: none;
}

::placeholder {color: var(--primary-color);}
    .textarea:focus, .mensaje:focus {
        outline: none;
    }

.indicaciones {
    display: flex;
    width: 90%;
    font-size: 1.2rem;
    margin-top: 15px;
    margin: 0 auto;
    margin-top: 15px;
    color: var(--primary-color);
}

.indicaciones-texto span {
    display: inline-block;
    margin-right: 5px;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url("./asset/Vector.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.botones, .copiar-msj {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton {
    width: 300px;
    height: 40px;
    margin-top: 20px;
    font-size: 1.6rem;
    letter-spacing: 0.7px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
}
.boton:hover {
    box-shadow: 0 0 7px 0 #0007;
}

.copiar-msj {
    display: none;
}


/* ----------------------------FOOTER-------------------------------- */
.footer {
    width: 100%;
    height: 60px;
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.footer-text {
    text-decoration: none;
    color: var(--color-letra);
    margin-left: 15px;
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .main {
        margin: auto 0;
    }
    .botones {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .btn-desencriptar {
        margin-left: 15px;
    }
}

@media (min-width: 1444px) {
    .main {
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .encriptador {
        width: 70%;
    }
    .encriptado {
        width: 30%;
        margin-right: 50px;
    }
    .textarea {
        width: 75%;
    }
    .indicaciones {
        width: 75%;
    }
}